
/*list*/
.list {
    padding: 30px;
}

.list-item {
    padding: 5px 10px;
    border-bottom: 1px dashed #ccc;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    background: #fff;
}

.list-item span {
    display: inline-block;
    width: 32%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-header {
    padding: 10px 20px;
    background: #fff;
    border-bottom: 1px dashed #ccc;
    border-radius: 10px 10px 0 0;
}

.list-items {
    height: 50%;
    overflow-y: scroll;
}