/*header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
    height: 100px;
    background: var(--color-background-primary);
}

.info-block {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
}

.info-block button {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    font-size: 18px;
    line-height: 40px;
    color: var(--color-text-primary-accent);
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid transparent;
    outline: none;
}

.info-block button:hover {
    box-shadow: 0px 0px 1px 2px var(--color-background-secondary-invert);
}

.info-block ul {
    position: absolute;
    top: 90px;
    right: 20px;
    padding: 25px;
    background: #fff;
    list-style: none;
    z-index: 100;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 215px;
}

.info-block ul::before {
    position: absolute;
    top: -15px;
    right: 160px;
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
}
.info-block ul li {
    margin-bottom: 10px;
}